<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="bg-dark">
        <nav class="navbar navbar-expand-lg ">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="logotechmaster.png" alt="">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link  text-white" >Trang chủ</a>
                  <a class="nav-link text-white" href="#">Phim bộ</a>
                  <a class="nav-link text-white" href="#">Phim lẻ</a>
                  <a class="nav-link text-white" href="#">Phim chiếu rạp</a>
                </div>
              </div>
            </div>
          </nav>
    </header>

    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-2 mt-4">
            <h3>tin tức</h3>
            <a href="">Xem thêm</a>
        </div>

        <div class="row">
            <div class="col-6 ">
                <div class="bg-body-tertiary p-4 rounded">
                <h5 > Top 10 phim hay nhat the gioi</h5>
                <p>jan 8, 2083</p>
                <p>phim hay nhat the gioi</p>
                </div>
            </div>
            <div class="col-6 ">
                <div class="bg-body-tertiary p-4 rounded">
                <h5 > Top 10 phim hanh dong hay nhat the gioi</h5>
                <p>oct 8, 2065</p>
                <p>phim hanh dong hay nhat the gioi</p>
                </div>
            </div>
            <div class="col-6 ">
                <div class="bg-body-tertiary p-4 rounded">
                <h5 > Top 10 phim khoa hoc hay nhat the gioi</h5>
                <p>feb 18, 2053</p>
                <p>phim khoa hoc hay nhat the gioi</p>
                </div>
            </div>
            <div class="col-6 ">
                <div class="bg-body-tertiary p-4 rounded">
                <h5 > Top 10 phim tinh cam hay nhat the gioi</h5>
                <p>dec 17, 2033</p>
                <p>phim tinh cam hay nhat the gioi</p>
                </div>
            </div>
            <div class="col-6 ">
                <div class="bg-body-tertiary p-4 rounded">
                <h5 > Top 10 phim bao luc hay nhat the gioi</h5>
                <p>may 15, 2003</p>
                <p>phim bao luc hay nhat the gioi</p>
                </div>
            </div>
            <div class="col-6 ">
                <div class="bg-body-tertiary p-4 rounded">
                <h5 > Top 10 phim bo hay nhat the gioi</h5>
                <p>july 1, 2081</p>
                <p>phim bo hay nhat the gioi</p>
                </div>
            </div>
            

        </div>
    </div>

    <footer class="bg-dark">
        <div class="container mt-4">
            <div class="row ">
                <div class="col-3 ">
                    <img src="logotechmaster.png" alt="">
                    <p class="text-white  ">TechMaster - Xem phim Online miễn phí chất lượng cao với FHD Vietsub - thuyết minh - lồng tiếng. TechMaster có nhiều thể loại phim phong phú, đặc sắc, nhiều bộ phim hay nhất , giao diện trực quan, thuận tiện, tốc độ tải nhanh, thường xuyên cập nhật các bộ phim mới.</p>
                </div>
                <div class="col-3 mt-4  ">
                   <div class="text-white">
                        <h5>Danh mục</h5>
                        <ul class="ps-0">
                            <li class="mb-3">Phim mới</li>
                            <li class="mb-3">phim chiếu rạp</li>
                            <li class="mb-3">phim sẽ</li>
                            <li class="mb-3">phim alime</li>
                        </ul>
                   </div>
                </div>
                <div class="col-3 mt-4">
                    <div class="text-white">
                         <h5>Trang trủ</h5>
                         <ul class="ps-0">
                             <li class="mb-3">fb</li>
                             <li class="mb-3">ig</li>
                             <li class="mb-3">x</li>
                             <li class="mb-3">zalo</li>
                         </ul>
                    </div>
                 </div>
                 <div class="col-3 mt-4">
                    <div class="text-white">
                         <h5>Quy định</h5>
                         <ul class="ps-0">
                             <li class="mb-3">Điều khoản chung</li>
                             <li class="mb-3">chính sách riêng tư</li>
                            
                         </ul>
                    </div>
                 </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>