<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="bg-dark">
        <nav class="navbar navbar-expand-lg ">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="logotechmaster.png" alt="">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link  text-white" >Trang chủ</a>
                  <a class="nav-link text-white" href="#">Phim bộ</a>
                  <a class="nav-link text-white" href="#">Phim lẻ</a>
                  <a class="nav-link text-white" href="#">Phim chiếu rạp</a>
                </div>
              </div>
            </div>
          </nav>
    </header>

    <div class="container1  mt-4">
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item text-white"><a href="#">Xem Phim</a></li>
                  <li class="breadcrumb-item text-white"><a href="#">Au My</a></li>
                  <li class="breadcrumb-item active text-white" aria-current="page">Hanh tinh cat</li>
                </ol>
              </nav>
    </div>

    <div class="c1 rounded">
        <div class="row">
            <div class="col-4">
                <div class="p-4 rounded">
                <img src="https://motchill.net.in/storage/images/hanh-tinh-cat-phan-hai/hanh-tinh-cat-phan-hai-thumb.jpg?w=282&mode=scale&fmt=webp" alt="">
                </div>
            </div>
            <div class="col-4 ">
                <div class="p-4 rounded">
                <h4 class="text-white bg-dark">Hanh Tinh Cat, Phan 2</h4>
                <h6 class="text-white">Dune: part 2 </h6>
                <h6 class="text-white mt-4">Trang thai: Full Vietsub </h6>
                <h6 class="text-white ">Đạo diễn:Denis Villeneuve</h6>
                <h6 class="text-white ">Thời lượng:195 Phút</h6>
                <h6 class="text-white ">Số tập:1</h6>
                <h6 class="text-white ">Tình trạng:Hoàn thành</h6>
                <h6 class="text-white ">Ngôn ngữ:Vietsub</h6>
                <h6 class="text-white ">Năm sản xuất:2024</h6>
                <h6 class="text-white ">Quốc gia:Âu Mỹ</h6>
                <h6 class="text-white ">Thể loại:Hành Động, Viễn Tưởng, Phiêu Lưu, Khoa Học</h6>
                 
                </div>
            </div>
            <div class="col-4">
                <div class="p-4 rounded">
                    <h4 class="text-white bg-primary text-center">Xem Phim</h4>
                    <h4 class="text-white bg-primary text-center">Tai phim</h4>
                    <h6 class="text-white mt-4">Danh gia imb: 8.0 </h6>
                    <h6 class="text-white ">Danh gia ocsacr: 8.6 </h6>
                    <h6 class="text-white ">Danh gia tu khan gia: 9.0 </h6>
                    <h6 class="text-white ">Danh gia phong ve: 10.0 </h6>
                </div>
            </div>
        </div>
        
    </div>

    <footer class="bg-dark">
        <div class="container mt-4">
            <div class="row ">
                <div class="col-3 ">
                    <img src="logotechmaster.png" alt="">
                    <p class="text-white  ">TechMaster - Xem phim Online miễn phí chất lượng cao với FHD Vietsub - thuyết minh - lồng tiếng. TechMaster có nhiều thể loại phim phong phú, đặc sắc, nhiều bộ phim hay nhất , giao diện trực quan, thuận tiện, tốc độ tải nhanh, thường xuyên cập nhật các bộ phim mới.</p>
                </div>
                <div class="col-3 mt-4  ">
                   <div class="text-white">
                        <h5>Danh mục</h5>
                        <ul class="ps-0">
                            <li class="mb-3">Phim mới</li>
                            <li class="mb-3">phim chiếu rạp</li>
                            <li class="mb-3">phim sẽ</li>
                            <li class="mb-3">phim alime</li>
                        </ul>
                   </div>
                </div>
                <div class="col-3 mt-4">
                    <div class="text-white">
                         <h5>Trang trủ</h5>
                         <ul class="ps-0">
                             <li class="mb-3">fb</li>
                             <li class="mb-3">ig</li>
                             <li class="mb-3">x</li>
                             <li class="mb-3">zalo</li>
                         </ul>
                    </div>
                 </div>
                 <div class="col-3 mt-4">
                    <div class="text-white">
                         <h5>Quy định</h5>
                         <ul class="ps-0">
                             <li class="mb-3">Điều khoản chung</li>
                             <li class="mb-3">chính sách riêng tư</li>
                            
                         </ul>
                    </div>
                 </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>